#gallery{

    height: 1050px;
    width: auto;
    overflow: hidden;
    margin-top: 55px;

    .photogrid {
        position: relative;
        top: 0;
        left: 0;
      }
      .bed {
        position: relative;
        top: 30px;
        left: 350px;
      }
      .jeans {
        position: absolute;
        top: 240px;
        left: 0;
      }

      h2{
          color: white;
          font-size: 82px;
          position: absolute;
          transform: rotate(-90deg);
          font-weight: 600;
          top: 1650px;
          left: 90px;
      }

      h4{
          color: white;
          font-size: 30px;
          position: absolute;
          font-weight: 300;
          left: 640px;
          top: 1910px;
          line-height: 45px;
          
      }

}